<!DOCTYPE html>
<html>
  <head>
    <title>NI address conversion tool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NI address conversion tool</h1>

    <form action="/address" method="get">
      <p>Convert address</p>
      <input type="submit" value="Go">
    </form>

    <form action="/authority" method="get">
      <p>Convert authority</p>
      <input type="submit" value="Go">
    </form>

  </body>
</html>
